body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat","Avenir";
}

.kocka {
	width: 30%;
	background: purple;
	/* posto su kocke prazne mora ovaj peding da bi se popunile i prikazale na sajtu */
	padding-bottom: 30%;
	/* da kocke ne budu u jednoj liniji */
	float: left;
	/* da postoji granica izmedju njih */
	margin: 1.66%;
	border-radius: 70%;
	transition: background 1.0s;
	/* ove dve su za istu animaciju kao iznad samo za podrzavanje na browesima kao amazon i faerfox */
	-webkit-transition: background 1.0s;
	-moz-transition: background 1.0s;
}
#Kontejner{
	/* ovo da ga centrira */
	margin: 30px auto;
	/* max velicina */
	max-width: 600px;
}
h1{
	line-height: 1.1;
	font-weight: normal;
	text-align: center;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}
#poruka{
	display: inline-block;
	width: 15%;
}

#opcije{
	background: white;
	height: 30px;
	text-align: center;
}

.izabran{
	color: white;
	background: steelblue;
}

#Trazena{
	font-size: 200%;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 1.0s;
	-webkit-transition: all 1.0s;
	-moz-transition: all 1.0s;
	outline: none;
}
button:hover{
color: white;
background: steelblue;
}